body {
  background-color:#0d1117;
  color: #c6cfd7;
}

.navbar {
  background-color: #0d1117;
  border: 1px solid #c6cfd7;
}

.navbar a {
  color:#c6cfd7;
}

footer ul {
  margin: auto;
}

.gitsubLogo {
  height: 40px;
  width: 40px;
}

.form-style {
  background-color: #0d1117;
  color:#c6cfd7;
}
