body {
  background-color:#0d1117;
  color: #c6cfd7;
}

.navbar {
  background-color: #0d1117;
  /* border: 1px solid #c6cfd7; */
}

.navbar a {
  color:#c6cfd7;
}

footer ul {
  margin: auto;
}

.gitsubLogo {
  height: 40px;
  width: 40px;
}

.form-style {
  background-color: #0d1117;
  color:#c6cfd7;
}

input[type=text]:focus, input[type=url]:focus, textarea:focus  {
  background-color: #0d1117;
  color:#c6cfd7;
}

.team-member {
  width: 200px;
  height: 200px;
  text-align: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
}

.card, .list-group-item {
  background-color: #0d1117;
  border: 1px solid #353535;
}

.card {
  margin: auto;
}

button {
  margin-top: 25px;
}

#form {
  border: 1px solid #353535;
  padding: 30px;
}

#team-members {
  padding-left: 0;
  padding-right: 0;
}

.fa-bookmark {
  padding: 8px;
}

.pinned-card {
  color: #0d6efd
}

#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#starbtn {
  position: absolute;
  top: 12;
  right: 0;
  
 }
